/** Reset some basic elements */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure { margin: 0; padding: 0; }

/** Basic styling */
body { font: 400 16px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; color: #111; background-color: #fdfdfd; -webkit-font-feature-settings: "kern" 1; -moz-font-feature-settings: "kern" 1; -o-font-feature-settings: "kern" 1; font-feature-settings: "kern" 1; font-kerning: normal; display: flex; min-height: 100vh; flex-direction: column; }

/* h1 (Header1) ist Haupttitel, h2 die normalen Titel, h3 die fetten Zwischentitel auf Kontaktformular, p (Paragraph) ist der normale Text */
h1 { font-size:1.63em; font-weight: 300; letter-spacing: -1px; }
h2 { font-size: 2em; font-weight: 400; margin-bottom: 15px; margin-top: 30px; }
h3 { font-size: 1.2em; font-weight: 700; margin-bottom: 0px; }
h4 { font-size:1.15em; font-weight: 400; margin-bottom: 4px; }
p { font-size:1.15em; margin-bottom: 0px; }

/* alle Hyperlinks sind nicht unterstrichen, Farbe von Links */
/** Links */
a { color: #2a7ae2; text-decoration:none }
a:visited { color: #1756a9; }


/* Der ganze Textbereich ist max. 740px breit */
.zentrierung { max-width: 740px; margin: auto; }
/* Mobile Geräte Rand vergrössern */
@media screen and (max-width: 768px) {
    .zentrierung { max-width: 90%; margin: auto; }
}

 /* The navigation bar */
 /* fixe Navigation mit fetter Linie oben und leichter Linie unten */
.navbar { overflow: hidden; position: fixed; width: 100%; background-color: #ffffff; border-top: 5px solid #2b2b2b; border-bottom: 1px solid #d1d1d1; }
/* der Haupttitel links und mit definierter Farbe (wäre sonst blau) */
.navbar a { float: left; color: #2b2b2b; margin-top: 7px; margin-bottom: 10px; }
/* Kontakt rechtsbündig */
.navbarKontakt a { float: right; color: #2b2b2b; margin-top: 10px; }
/* Preise rechtsbündig */
.navbarPreise a { float: right; margin-right: 14px; color: #2b2b2b; margin-top: 10px; }

/* Nach der Navigation kommt ein Abstand, sonst rutscht der Text unter die Titelleiste */
.main { margin-top: 60px; } 
/* Mobile Geräte Abstand oben grösser */
@media screen and (max-width: 768px) {
    .main { margin-top: 90px; } 
}


/* Fusszeile */
/* Linie */
.site-footer { border-top: 1px solid #d1d1d1; padding: 30px 0; margin-bottom: 15px; }
/* Spezielle Schriftfarbe und Grösse */
.footer { color: #6b6b6b; font-size: 1em; }

 /* Style buttons */
a#button {
    display: inline-block;
    padding: 11px 32px;
    background: #0022fa;
    border-width: 5px;
    border-style: solid;
    border-right-color: #304af0;
    border-bottom-color: #304af0;
    border-left-color: #304af0;
    border-top-color: #304af0;
    
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    text-decoration: none; 
    
    text-shadow: 
        1px 1px 0px black,
        -1px -1px 0px black,
        1px -1px 0px black,
        -1px 1px 0px black;
}

a#button:hover {
     color: #777;
}

a#button:active {
    padding: 14px 29px 8px 34px;
    border-right-color: #304af0;
    border-bottom-color: #304af0;
    border-left-color: #304af0;
    border-top-color: #304af0;  
}